
    <div class="col d-flex justify-content-center justify-content-center align-items-center">
  
        <!-- Form -->
        <div class="card" style="margin-top: 150px;">
          <div class="p-4 p-sm-5">
    
            <div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>
    
            <p class="text-center text-big mb-4">Your Token have been Expired!!.</p>
    
            <button type="button" class="btn btn-primary btn-block" (click)="submit()">Proceed to Login</button>
    
          </div>
        </div>
        <!-- / Form -->
    
      </div>
  
