<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-6">
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0"> Change Password</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()"> <!--  -->
                                
                                <div class="form-group row" [ngClass]="{ 'has-error': passwordForm.get('oldPassword').errors && (passwordForm.get('oldPassword').touched || passwordForm.get('oldPassword').dirty)}">
                                    <label class="col-lg-3 col-form-label form-control-label">Old Password</label>
                                    <div class="col-lg-9">
                                        <input type="password" formControlName="oldPassword" class="form-control">  
                                    </div>
                                    <span class="help-block" style="color: red; font-weight:200;" *ngIf="passwordForm.get('oldPassword').errors && (passwordForm.get('oldPassword').touched || passwordForm.get('oldPassword').dirty)">
                                        <span *ngIf="passwordForm.get('oldPassword').errors.required">
                                            *Password is Required
                                        </span> 
                                        <span *ngIf="passwordForm.get('oldPassword').errors.pattern">
                                            *password should contain atleast 6 characters with one upper case letter
                                        </span>
                                    </span>	
                                </div>

                                <div class="form-group row" [ngClass]="{ 'has-error': passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)}">
                                    <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                                    <div class="col-lg-9">
                                        <input type="password" formControlName="newPassword" class="form-control">  
                                    </div>
                                    <span class="help-block" style="color: red; font-weight:200;" *ngIf="passwordForm.get('newPassword').errors && (passwordForm.get('newPassword').touched || passwordForm.get('newPassword').dirty)">
                                        <span *ngIf="passwordForm.get('newPassword').errors.required">
                                            *Password is Required
                                        </span> 
                                        <span *ngIf="passwordForm.get('newPassword').errors.pattern">
                                            *password should contain atleast 6 characters with one upper case letter
                                        </span>
                                    </span>	
                                </div>

                                <div class="form-group row" [ngClass]="{ 'has-error': passwordForm.get('confirmPassword').errors && (passwordForm.get('confirmPassword').touched || passwordForm.get('confirmPassword').dirty)}">
                                    <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                                    <div class="col-lg-9">
                                        <input type="password" formControlName="confirmPassword" class="form-control">  
                                    </div>
                                    <span class="help-block" style="color: red; font-weight:200;" *ngIf="passwordForm.get('confirmPassword').errors && (passwordForm.get('confirmPassword').touched || passwordForm.get('confirmPassword').dirty)">
                                        <span *ngIf="passwordForm.get('confirmPassword').errors.required">
                                            *Password is Required
                                        </span> 
                                        <span *ngIf="passwordForm.get('confirmPassword').errors.confirmedValidator">
                                            *Both new password and Confirm password must be same
                                        </span>
                                    </span>	
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <button type="submit" class="btn btn-success">Save</button> <!--(click)="onSubmit()"-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->
        </div>
    </div>
</div>



