<div class="card p-4 m-2">
    <span class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <h4>URL Creation Details</h4>
        <button class="btn btn-primary" (click)="return()">Back</button>
    </span>

    <input class="url mb-4" type="url" name="longUrl" placeholder="Long URL" readonly>
    <input class="url mb-4" type="url" name="shortUrl" placeholder="Short URL" readonly>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Created by:</th>
                <th scope="col">Created on:</th>
                <th scope="col">Edited by:</th>
                <th scope="col">Edited on:</th>
                <th scope="col">Total clicks</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>fname 1</td>
                <td>date and time 1</td>
                <td>fname 2</td>
                <td>date and time 2</td>
                <td>Count</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card p-4 m-2">
    <h4>URL Access Details</h4>

    <h6>URL id here:..........</h6>


    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">IP Address</th>
            <th scope="col">User Agent</th>
            <th scope="col">Clicks</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>127:4:45:56</td>
            <td>browser name</td>
            <td>count</td>
        </tr>
        </tbody>
    </table>
</div>