
<div *ngIf="noUrlDetailsFromServer" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failed</strong> to fectch the URL Details!!
    <button type="button" (click)="noUrlDetailsFromServerAlert()" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="noUrlId" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failed</strong> to fectch the URL ID!!
    <button type="button" (click)="noUrlIdAlert()" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="card p-4 m-2">
    <span class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <h4>URL Creation Details</h4>
        <button class="btn btn-primary" (click)="return()">Back</button>
    </span>

    <input class="url mb-4" type="url" [value]="longUrl" readonly>
    <input class="url mb-4" type="url" [value]="shortUrl"  readonly>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Created by:</th>
                <th scope="col">Created on:</th>
                <th scope="col">Total clicks</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a routerLink="/user-accounts/edit-profile/{{user_id}}">{{user_id}}</a></td>
                <td>{{createdAt}}</td>
                <td>{{clicks}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card p-4 m-2">
    <h4>URL Access Details</h4>

    <h6><strong>URL ID: </strong><a href="/shorturl/short-url-list/url-access-list/{{url_id}}">{{url_id}}</a></h6>


    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">IP Address</th>
            <th scope="col">User Agent</th>
            <th scope="col">Clicks</th> <!-- Should be clicks ....not time stamp -->
        </tr>
        </thead>
        <tbody *ngFor="let urlTrackerDetail of urlTrackerDetails let i = index;">
        <tr>
            <td>{{urlTrackerDetail.ip_address}}</td>
            <td>{{urlTrackerDetail.user_agent}}</td>
            <td></td> <!--{{urlTrackerDetail.timestamp}}-->
        </tr>
        </tbody>
    </table>
</div>